<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="/home"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">Marché Public</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">
              <i class=""></i>
              <p>Tableau de bord</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prestataire" class="nav-link">
              <i class="fas fa-address-book"></i>
              <p>
                Liste des prestataires
                <!-- <span class="right badge badge-danger">New</span> -->
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/market" class="nav-link">
              <i class="fas fa-industry"></i>
              <p>
                Liste des marchés
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/list-marchePrestataire" class="nav-link">
              <i class="fas fa-pen-square"></i>
              <p>
                Liste des marchés attribués
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <!-- <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tableau de bord</h1>
          </div> -->
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Modifier </a></li>
              <li class="breadcrumb-item active">Marché</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="card card-light">
              <div class="card-header">
                <h3 class="card-title">Formulaire</h3>
              </div>
              <form (ngSubmit) = "onSubmit()">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="numero">Numéro</label>
                      <input type="text" class="form-control" id="numero" name="numero" placeholder="Marché N°" [(ngModel)]="marche.numero" required>
                    </div>
                    <div class="form-group col-6">
                      <label for="titre">Titre</label>
                      <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre" [(ngModel)]="marche.titre" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="montant">Montant</label>
                      <input type="number" class="form-control" id="montant" name="montant" placeholder="Montant" [(ngModel)]="marche.montant" required>
                    </div>
                    <div class="form-group col-6">
                      <label for="description">Description</label>
                      <textarea class="form-control" rows="2" name="description" id="description" placeholder="Description" [(ngModel)]="marche.description" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="dateDebutPrevu">Date Debut Prévu</label>
                      <input type="date" class="form-control" id="dateDebutPrevu" name="dateDebutPrevu" placeholder="Date Debut Prevu" [(ngModel)]="marche.dateDebutPrevu" required>
                    </div>
                    <div class="form-group col-6">
                      <label for="dateFinPrevu">Date Fin Prévu</label>
                      <input type="date" class="form-control" id="dateFinPrevu"  name="dateFinPrevu" placeholder="Date Fin Prévu" [(ngModel)]="marche.dateFinPrevu" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="dateDebutEffective">Date Debut Effective</label>
                      <input type="date" class="form-control" id="dateDebutEffective" name="dateDebutEffective" placeholder="Date Debut Effective" [(ngModel)]="marche.dateDebutEffective" required>
                    </div>
                    <div class="form-group col-6">
                      <label for="dateFinEffective">Date Fin Effective</label>
                      <input type="date" class="form-control" id="dateFinEffective" name="dateFinEffective" placeholder="Date Fin Effective" [(ngModel)]="marche.dateFinEffective" required>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-block btn-default">Modifier</button>
                </div>
              </form>
          </div>

        </div>
      <!-- /.row -->
      <!--/. container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <!-- <footer class="main-footer">
  <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.0.0
  </div>
</footer> -->
</div>
<!-- ./wrapper -->
