 <!-- Navbar -->
 <!-- <nav class="main-header navbar navbar-expand navbar-white navbar-light">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

</nav> -->
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<!-- <aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="#" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Marché Public</span>
  </a>

  <div class="sidebar">

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">
            <i class=""></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/new-prestataire" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Ajouter un prestataire

            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/market" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Marchés
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/attrib-prestataire" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Attribuer marchés
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside> -->
<router-outlet></router-outlet>
