<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="/home"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">Marché Public</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">
              <i class=""></i>
              <p>Tableau de bord</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prestataire" class="nav-link">
              <i class="fas fa-address-book"></i>
              <p>
                Liste des prestataires
                <!-- <span class="right badge badge-danger">New</span> -->
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/market" class="nav-link">
              <i class="fas fa-industry"></i>
              <p>
                Liste des marchés
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/list-marchePrestataire" class="nav-link">
              <i class="fas fa-pen-square"></i>
              <p>
                Liste des marchés attribués
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Marchés</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
              <li class="breadcrumb-item active">Marchés attribués</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card-body">
        <button type="button" class="btn btn-success swalDefaultSuccess" routerLink="/attrib-prestataire">
          Attribuer marché
        </button>
      </div>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Liste des marchés attribués</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example" #dTable *ngIf="marchePrests"  class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Marche</th>
                    <th>Prestataire</th>
                    <th>Montant</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let mp of marchePrests">
                  <tr>
                    <td>{{mp.date_attribution}}</td>
                    <td>{{mp.marche.titre}}</td>
                    <td>{{mp.prestataire.raison_social}}</td>
                    <td>{{mp.marche.montant}}</td>
                    <td>
                      <button type="submit" class="btn btn-block btn-success" (click)="update(mp.id)">Modifier</button>
                      <button type="submit" class="btn btn-block btn-danger" (click)="delete(mp.id)">Supprimer</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="#">AdminLTE.io</a>.</strong> All rights
      reserved.
    </footer> -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script> -->
<script>
  $(function () {
    $("#example").DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>

