@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700';
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css';
/* @import 'https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css'; */

/* @import 'https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js';
@import 'https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js';

@import 'https://code.jquery.com/jquery-3.5.1.js' */
