<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="/home"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">Marché Public</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">
              <i class=""></i>
              <p>Tableau de bord</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prestataire" class="nav-link">
              <i class="fas fa-address-book"></i>
              <p>
                Liste des prestataires
                <!-- <span class="right badge badge-danger">New</span> -->
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/market" class="nav-link">
              <i class="fas fa-industry"></i>
              <p>
                Liste des marchés
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/list-marchePrestataire" class="nav-link">
              <i class="fas fa-pen-square"></i>
              <p>
                Liste des marchés attribués
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <!-- <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tableau de bord</h1>
          </div> -->
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Nouveau</a></li>
              <li class="breadcrumb-item active">Prestataire</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="card card-light">
          <div class="card-header">
            <h3 class="card-title">Formulaire</h3>
          </div>
          <form (ngSubmit) = "onSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label>Catégorie</label>
                <select id="categorie" name="categorie" required [(ngModel)]="categorieId" class="form-control">
                  <option *ngFor="let c of categories" [value]="c.id">
                    {{c.libelle}}
                  </option>
                </select>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="raison_social">Raison social</label>
                  <input type="text" class="form-control" required id="raison_social" name="raison_social"
                    placeholder="La Raison social"  [(ngModel)]="prestataire.raison_social">
                </div>
                <div class="form-group col-6">
                  <label for="quitus_fiscal">Quitus fiscal</label>
                  <input type="text" class="form-control" id="quitus_fiscal" required name="quitus_fiscal"
                    placeholder="Entrez le numéro du quitus fiscal"  [(ngModel)]="prestataire.quitus_fiscal">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="coe">Coe</label>
                  <input type="text" class="form-control" id="coe" name="coe" required placeholder="Coe"  [(ngModel)]="prestataire.coe">
                </div>
                <div class="form-group col-6">
                  <label for="adresse">Adresse</label>
                  <input type="text" class="form-control" id="adresse" required name="adresse" placeholder="Entrez l'adresse"
                     [(ngModel)]="prestataire.adresse">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="tel_fixe">Teléphone fixe</label>
                  <input type="text" class="form-control" id="tel_fixe" required name="tel_fixe"
                    placeholder="N° de téléphone fixe"  [(ngModel)]="prestataire.tel_fixe">
                </div>
                <div class="form-group col-6">
                  <label for="cellulaire">Teléphone cellulaire</label>
                  <input type="text" class="form-control" id="cellulaire" required name="cellulaire"
                    placeholder="N° de téléphone cellulaire"  [(ngModel)]="prestataire.cellulaire">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" required name="email" placeholder="Entrez l'adresse email"
                     [(ngModel)]="prestataire.email">
                </div>
                <div class="form-group col-6">
                  <label>Observation</label>
                  <textarea class="form-control" rows="2" id="observation" required name="observation" placeholder="Observation"  [(ngModel)]="prestataire.observation"></textarea>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-success">Modifier</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.row -->
      <!--/. container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <!-- <footer class="main-footer">
  <strong>Copyright &copy; 2014-2019 <a href="#">AdminLTE.io</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.0.0
  </div>
</footer> -->
</div>
<!-- ./wrapper -->
